<h3>Add Story</h3>

<div class="row">
    <form action="/stories" method="POST" enctype="multipart/form-data" class="col s12">
    <div class="row">
        <div class="input-field">
            <input type="text" id="title" name="title">
            <label for="title">Title</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <select name="status" id="status">
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
            </select>
            <label for="status">Status</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field">
            <h5>Tell Us Your Story:</h5>
            <textarea name="body" id="body"></textarea>
        </div>
    </div>

        <div class="row">
        <div class="file-field input-field">
            <div class="btn">
                <span>Upload Image</span>
                <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
    </form>
</div>

<div id="overlay"></div>

<div id="modal" class="modal">
  <div class="modal-content">
    <p id="modal-message"></p>
    <button id="modal-close" class="btn orange">Close</button>
  </div>
</div>

<script src="/js/handleEmpty.js"></script>